<!-- <nav class="navbar navbar-expand-md" id="navbar">
  <div class="container">
    <div class="nav-toggler" id="nav-toggler">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <a class="navbar-brand override" routerLink="/">
        LOGO
    </a>
  </div>
</nav> -->
<!--Navbar-->

<section class="navbar">
  <div class="brand">Public Module</div>
  <div>
    <nav>
      <a routerLink="home">Home</a>
      <a routerLink="about">About</a>
      <a routerLink="login">Login</a>
      <a routerLink="sign-up">Sign Up</a>
      <a routerLink="contact">Contact</a>
    </nav>
  </div>

</section>